<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.ClothesMapper">
  <resultMap id="BaseResultMap" type="com.kgc.entity.Clothes">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="typename" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="discription" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ontime" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="picpath" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, typename, discription, ontime, price, picpath
  </sql>
  <select id="selectByExample" parameterType="com.kgc.entity.ClothesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clothes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from clothes
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from clothes
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.entity.ClothesExample">
    delete from clothes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.entity.Clothes">
    insert into clothes (id, typename, discription, 
      ontime, price, picpath)
    values (#{id,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR}, #{discription,jdbcType=VARCHAR}, 
      #{ontime,jdbcType=DATE}, #{price,jdbcType=DOUBLE}, #{picpath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.entity.Clothes">
    insert into clothes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typename != null">
        typename,
      </if>
      <if test="discription != null">
        discription,
      </if>
      <if test="ontime != null">
        ontime,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="picpath != null">
        picpath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typename != null">
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="discription != null">
        #{discription,jdbcType=VARCHAR},
      </if>
      <if test="ontime != null">
        #{ontime,jdbcType=DATE},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="picpath != null">
        #{picpath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.entity.ClothesExample" resultType="java.lang.Long">
    select count(*) from clothes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update clothes
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.typename != null">
        typename = #{record.typename,jdbcType=VARCHAR},
      </if>
      <if test="record.discription != null">
        discription = #{record.discription,jdbcType=VARCHAR},
      </if>
      <if test="record.ontime != null">
        ontime = #{record.ontime,jdbcType=DATE},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.picpath != null">
        picpath = #{record.picpath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update clothes
    set id = #{record.id,jdbcType=INTEGER},
      typename = #{record.typename,jdbcType=VARCHAR},
      discription = #{record.discription,jdbcType=VARCHAR},
      ontime = #{record.ontime,jdbcType=DATE},
      price = #{record.price,jdbcType=DOUBLE},
      picpath = #{record.picpath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.entity.Clothes">
    update clothes
    <set>
      <if test="typename != null">
        typename = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="discription != null">
        discription = #{discription,jdbcType=VARCHAR},
      </if>
      <if test="ontime != null">
        ontime = #{ontime,jdbcType=DATE},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="picpath != null">
        picpath = #{picpath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.entity.Clothes">
    update clothes
    set typename = #{typename,jdbcType=VARCHAR},
      discription = #{discription,jdbcType=VARCHAR},
      ontime = #{ontime,jdbcType=DATE},
      price = #{price,jdbcType=DOUBLE},
      picpath = #{picpath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>